.team{
    position: absolute;
    width: 92px;
    height: 24px;
    left: 165px;
    top: 60px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    
    letter-spacing: -0.06em;
    
    color: #1D2830;

}
.works{
    position: absolute;
width: 100px;
height: 16px;
left: 490px;
top: 64px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 16px;
/* identical to box height, or 100% */


color: #35414B;
}
.get{
    position: absolute;
width: 122px;
height: 16px;
left: 1129px;
top: 64px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

text-align: center;

color: #794CFF;
width: 169px;
height: 48px;
left: 1106px;
top: 48px;

background: #ECE6FF;
border-radius: 4px;
}
.graph{
    position: absolute;
width: 920px;
height: 654.29px;
left: 260px;
top: 592px;

background: url(Graph 2.png);
box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);

}